
.main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    background: black;
    transition: all 1s;
    flex-wrap: wrap;
}
.main_DM{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-direction: column;
    transition: all 1s;
    flex-wrap: wrap;
}

.topRef{
    width:100%;
    height:130px;
}
