.main{
    height: 30rem;
    margin: 15px;
    width:90%;
    box-shadow:1px 1px 100px rgb(46, 58, 69);
    border-radius:15px;
    overflow: hidden;
    position: relative;
}
.image{
    height: 140%;
    width: 100%;
    vertical-align: middle;
    position: absolute;
    top: 0;
}

.OverLay{
        width:100%;
        height: 30rem;
        background: rgb(27, 26, 26);
        z-index:10;
        position: absolute;
        bottom: 0;
        opacity: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
}
.headingSection{
    width:50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paraSection{
    width:50%;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.paraSection p{
    line-height: 40px;
    font-size: large;
    color: aliceblue;
    font-weight: 800;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    background: black;
    opacity: 100%;
    text-shadow: 10px;
}
.headingSection h1{
    color: aliceblue;
    font-size: 40px;
   
}

@media screen and (max-width:900px){
    .paraSection{
        width:100%;
    }
    .headingSection{
        width:100%;
    }
    .OverLay{
        flex-direction: column;
    }
}
@media screen and (max-width:500px){
    .paraSection p{
        font-size: small;
    }
    .headingSection h1{
        font-size: medium;
    }
    .OverLay{
        flex-direction: column;
        justify-content: flex-start;
    }
}